<template>
  <q-page class="flex flex-center fullscreen-page">
    <InterstellarTravel class="dimmed" :mino-base-amount="300" style="opacity: 0.75"/>
  </q-page>
</template>

<script>
import InterstellarTravel from "components/InterstellarTravel";

export default {
  name: 'PageIndex',
  components: {
    InterstellarTravel,
  },
  data() {
    return {
      visible: false,
    }
  },
  computed: {},
  created() {
  },
  methods: {},
  beforeUnmount() {
    window.onresize = () => {
    };
  }
}
</script>

<style lang="scss" scoped>
.fullscreen-page {
  position: absolute;
}
</style>

