<template>
  <q-avatar
    :class="animated ? 'img-logo' : ''"
    rounded
    :size="avatarSize">
    <q-img :src="iconSrc"/>
  </q-avatar>
</template>

<script>
import {computed, defineComponent} from "vue";

export default defineComponent({
  name: "HeaderLogo",
  props: {
    mini: {
      type: Boolean,
      default: () => false,
    },
    animated: {
      type: Boolean,
      default: () => false,
    },
    src: {
      type: String,
      default: () => null,
    }
  },
  setup(props) {
    const isMini = computed(() => props.mini);
    const isAnimated = computed(() => props.animated);
    const iconSrc = computed(() => props.src);
    return {
      isMini,
      isAnimated,
      iconSrc,
    }
  },
  computed: {
    avatarSize() {
      if (this.isMini) {
        if (this.$q.screen.lt.sm) {
          return "0.8rem";
        } else if (this.$q.screen.lt.md) {
          return "1.5rem";
        } else {
          return "2.5rem";
        }
      } else {
        if (this.$q.screen.lt.sm) {
          return "1.2rem";
        } else if (this.$q.screen.lt.md) {
          return "2rem";
        } else {
          return "3rem";
        }
      }
    }
  }
})
</script>

<style lang="scss" scoped>
.img-logo {
  animation: logo-animation 6s infinite;
}

@keyframes logo-animation {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  70% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
</style>
