<template>
  <q-toolbar-title :class="textSize">
    {{ text }}
  </q-toolbar-title>
</template>

<script>
import {computed} from "vue";

export default {
  name: "ResponsiveToolbarTitle",
  props: {
    mini: {
      type: Boolean,
      default: () => false,
    },
    content: {
      type: String,
      default: () => null,
    }
  },
  setup(props) {
    const isMini = computed(() => props.mini);
    const text = computed(() => props.content);
    return {
      isMini,
      text,
    }
  },
  computed: {
    textSize() {
      if (this.isMini) {
        if (this.$q.screen.lt.sm) {
          return "text-caption";
        } else if (this.$q.screen.lt.md) {
          return "text-h6";
        } else {
          return "text-h4";
        }
      } else {
        if (this.$q.screen.lt.sm) {
          return "text-h6";
        } else if (this.$q.screen.lt.md) {
          return "text-h5";
        } else {
          return "text-h3";
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
