<template>
  <div
    class="column items-center"
    :style="{width: logoWidth}">
    <q-img :src="svgSrc"/>
  </div>
</template>

<script>
import {computed, defineComponent} from "vue";

export default defineComponent({
  name: "ResponsiveSvg",
  props: {
    mini: {
      type: Boolean,
      default: () => false,
    },
    src: {
      type: String,
      default: () => null,
    }
  },
  setup(props) {
    const isMini = computed(() => props.mini);
    const svgSrc = computed(() => props.src);
    return {
      isMini,
      svgSrc,
    }
  },
  computed: {
    logoWidth() {
      if (this.isMini) {
        if (this.$q.screen.lt.sm) {
          return "3.5rem";
        } else if (this.$q.screen.lt.md) {
          return "5rem";
        } else {
          return "8rem";
        }
      } else {
        if (this.$q.screen.lt.sm) {
          return "5rem";
        } else if (this.$q.screen.lt.md) {
          return "8rem";
        } else {
          return "12rem";
        }
      }
    }
  }
})
</script>

<style scoped>

</style>
