<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated class="bg-primary text-white" height-hint="98">
      <q-toolbar>
<!--        <q-btn dense flat round icon="menu" @click="toggleLeftDrawer"/>-->
        <div class="q-pl-xl"/>
        <q-btn
          class="q-pa-md-md"
          dense
          flat
          to="/">
          <HeaderLogo mini src="svg/26f/logo-xl-light.svg"/>
          <ResponsiveToolbarTitle mini :content="$t('layout.main.title')"/>
        </q-btn>
        <q-space/>
        <q-btn
          flat
          :label="$t('layout.main.tab.product')"
          @mouseenter="productsHovering.button=true"
          @mouseleave="productsHovering.button=false"
          to="/products">
          <q-menu
            ref="productMenu"
            @mouseenter="productsHovering.list=true"
            @mouseleave="productsHovering.list=false">
            <q-list
              style="min-width: 128px">
              <q-item
                clickable
                v-close-popup
                v-for="(item, index) in products"
                :key="index"
                :to="item.route">
                <q-item-section>{{ $t("layout.main.menu.products[" + index + "]") }}</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
        <q-btn
          flat
          :label="$t('layout.main.tab.service')"
          @mouseenter="servicesHovering.button=true"
          @mouseleave="servicesHovering.button=false"
          to="/services">
          <q-menu
            ref="serviceMenu"
            @mouseenter="servicesHovering.list=true"
            @mouseleave="servicesHovering.list=false">
            <q-list style="min-width: 128px">
              <q-item
                clickable
                v-close-popup
                v-for="(item, index) in services"
                :key="index"
                :to="item.route">
                <q-item-section>{{ $t("layout.main.menu.services[" + index + "]") }}</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
        <q-btn
          flat
          :label="$t('layout.main.tab.about')"
          to="/about">
        </q-btn>
        <div class="q-pl-xl"/>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" side="left" overlay bordered>
      <!-- drawer content -->
    </q-drawer>

    <q-page-container>
      <router-view/>
    </q-page-container>

  </q-layout>
</template>

<script>
import {defineComponent, ref} from 'vue'

import HeaderLogo from "components/HeaderLogo";
import ResponsiveToolbarTitle from "components/ResponsiveToolbarTitle";

export default defineComponent({
  name: 'MainLayout',

  components: {
    HeaderLogo,
    ResponsiveToolbarTitle,
  },

  setup() {
    const leftDrawerOpen = ref(false);
    const productsHovering = ref({
      button: false,
      list: false
    });
    const products = [
      {
        route: '/products/techmino',
      },
      {
        route: '/products/cc-love-wrapper',
      }
    ];
    const productsMenuInterval = ref();
    const servicesHovering = ref({
      button: false,
      list: false
    });
    const services = [
      {
        route: '/services/technode',
      },
      {
        route: '/services/tech-bot-server',
      }
    ];
    const servicesMenuInterval = ref();
    return {
      leftDrawerOpen,

      productsHovering,
      products,
      productsMenuInterval,

      servicesHovering,
      services,
      servicesMenuInterval,

      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      }
    }
  },
  created() {
    this.productsMenuInterval = setInterval(() => {
      if (!this.productsHovering.button && !this.productsHovering.list) {
        this.$refs.productMenu.hide();
      } else {
        this.$refs.productMenu.show();
      }
    }, 100);
    this.servicesMenuInterval = setInterval(() => {
      if (!this.servicesHovering.button && !this.servicesHovering.list) {
        this.$refs.serviceMenu.hide();
      } else {
        this.$refs.serviceMenu.show();
      }
    }, 100);
  },
  beforeUnmount() {
    clearInterval(this.productsMenuInterval);
    clearInterval(this.servicesMenuInterval);
  }
});
</script>
