<template>
  <q-layout class="no-scroll" view="hHh lpR fff">
    <q-header class="text-white"
              style="background: linear-gradient(rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.5) 40%, rgba(0,0,0,0.0))">
      <q-toolbar>
        <div class="q-pl-xl"/>

        <q-btn
          class="q-pa-md-md"
          dense
          flat
          to="/">
          <HeaderLogo mini src="svg/26f/logo-xl-light.svg"/>
          <ResponsiveToolbarTitle mini :content="$t('layout.main.title')"/>
        </q-btn>
        <q-separator
          class="q-py-md"
          spaced="md"
          dark
          vertical
          inset/>
        <q-btn
          class="q-pa-md-md"
          dense
          flat
          to="/products/techmino">
          <HeaderLogo mini animated src="png/techmino/logo-l.png"/>
          <ResponsiveSvg mini src="svg/techmino/title-solid-light.svg"/>
        </q-btn>
        <q-space/>
        <q-toolbar-title/>
        <LoginState/>
        <LanguageMenu/>
        <div class="q-pl-xl"/>
      </q-toolbar>
    </q-header>
    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
import {defineComponent} from 'vue'

import HeaderLogo from "components/HeaderLogo";
import LanguageMenu from "components/LanguageMenu";
import LoginState from "components/LoginState";
import ResponsiveSvg from "components/ResponsiveSvg";
import ResponsiveToolbarTitle from "components/ResponsiveToolbarTitle";

export default defineComponent({
  components: {
    HeaderLogo,
    LanguageMenu,
    LoginState,
    ResponsiveSvg,
    ResponsiveToolbarTitle,
  },
  name: "TechminoLayout"
});
</script>

<style scoped>

</style>
